<br>
<br>
<div class="home">
  <div class="col-sm-12" style="text-align:centre">
    <div class="row">
      <div class="col-sm-12 col-md-7 col-xs-12">
        <h1 id="resp"><b>Personalized Skill Learning Platform for the NextGen learners
          </b> </h1>
        <p id="resp1">body text to be filled up with the lorem ipsum body text to be
          filled up with the lorem ipsum body text to be filled up with the lorem
          ipsum body text to be filled up with the lorem ipsum body text to be
          filled up with the lorem ipsum body text to be filled up with the lorem
          ipsum body text to be filled.</p>
        <button class="mbtn blue">Learn More</button>
      </div>
      <div class="col-sm-12 col-xs-12 col-md-5">
        <img id="img1" src="assets/undraw_version_control_9bpv.png" width="400px" height="350px">
      </div>
    </div>
  </div>
</div>
<div class="col-sm-12 col-md-12 col-xs-12" style="text-align:centre">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xs-12 ">
      <div class="home1">
        <h1 id="resp"><b>Passionate about your career of interest</b> </h1>
        <p id="resp1">body text to be filled up with the lorem ipsum body text to be
          filled up with the lorem ipsum body text to be filled up with the lorem
          ipsum body text to be filled up with the lorem ipsum body text to be
          filled up with the lorem ipsum body text to be filled up with the lorem
          ipsum body text to be filled.</p>
        <button class="mbtn blue">Learn More</button>
      </div>

    </div>
    <div class="col-sm-12 col-xs-12 col-md-6">
      <img id="img1" src="assets/Group_28.png" style="position: relative; left: 20px">
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12 col-xs-12 col-md-5">
    <img id="img1" src="assets/Group33.png" width="400px" height="350px">
  </div>

  <div class="col-sm-12 col-md-7 col-xs-12">
    <div class="home2">
      <h1 id="resp"><b>Dicover the right domain and career skills</b> </h1>
      <p id="resp1">body text to be filled up with the lorem ipsum body text to be filled up
        with the lorem ipsum body text to be filled up with the lorem ipsum body text to
        be filled up with the lorem ipsum body text to be filled up with the lorem ipsum
        body text to be filled up with the lorem ipsum body text to be filled.</p>
      <button class="mbtn blue">Learn More</button>
    </div>

  </div>
</div>
<div class="col-sm-12 col-md-12 col-xs-12" style="text-align:centre">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-xs-12 ">
      <div class="home1">
        <h1 id="resp"><b>Passionate about your career of interest</b> </h1>
        <p id="resp1">body text to be filled up with the lorem ipsum body text to be
          filled up with the lorem ipsum body text to be filled up with the lorem
          ipsum body text to be filled up with the lorem ipsum body text to be
          filled up with the lorem ipsum body text to be filled up with the lorem
          ipsum body text to be filled.</p>
        <button class="mbtn blue">Learn More</button>
      </div>

    </div>
    <div class="col-sm-12 col-xs-12 col-md-6">
      <img id="img1" src="./assets/Group34.png" style="position: relative; left: 20px">
    </div>
  </div>
</div>
<div class="container d-flex flex-column justify-content-center align-items-center">

  <br><br><br>
  <img src="assets/Group_27.png"><br>
  <button class="start">Get Started</button>
  <br>
</div>