<body>
    <div class="simple-admin">
        <div class="sidebar" style="font: size 30px;">
          <ul class="list-group flex-column d-inline-block first-menu">
            <h1 style="font: size 30px;">OIT</h1>
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4"><span>Reporting</span>
              </a>
              
            </li> <!-- /.list-group-item -->
            
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495396653/General_Content_o7lvdo.png" height="40"class="mr-4"><span>General Content</span>
              </a>
            </li> <!-- /.list-group-item -->
    
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4"><span>Reporting</span>
              </a>
              
            </li> <!-- /.list-group-item -->
    
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4"><span>Reporting</span>
              </a>
              
            </li> <!-- /.list-group-item -->
            
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4"><span>Reporting</span>
              </a>
              
            </li> <!-- /.list-group-item -->
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4"><span>Reporting</span>
              </a>
              
            </li> <!-- /.list-group-item -->
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4"><span>Reporting</span>
              </a>
              
            </li> <!-- /.list-group-item -->
            <li class="list-group-item py-2">
              <a href="#">
                <img src="https://res.cloudinary.com/dt9b7pad3/image/upload/v1495392326/Reporting_hj9z0i.png" height="40" class="mr-4"><span>Reporting</span>
              </a>
              
            </li> <!-- /.list-group-item -->
    
            
          </ul>
      </div>
    </div> 
    <div style="margin-left:170px;padding:2em;margin-top:2em">
      <h1>My Skills</h1>
      <br>
  
          <div class="card-deck" style="text-align: center">
              <div class="card" >
                  <div class="card-header" >
                      <img src="./assets/Skills.png" style="width:190px;height:145px"
                          >
                  </div>
                  <div class="card-header card-body"><h4>Technical Skills</h4></div>

              </div>
              <div class="card">
                  <div class="card-header">
                      <img src="./assets/Skills.png" style="width:190px;height:145px"
                          class="rounded-circle">
                  </div>
                  <div class="card-header card-body"><h4>Soft Skills</h4></div>

              </div>
              <div class="card">
                  <div class="card-header">
                      <img src="./assets/Skills.png" style="width:190px;height:145px"
                          class="rounded-circle">
                  </div>
                  <div class="card-header card-body"><h4>Creativity Skills</h4></div>
              </div>
              <div class="card">
                  <div class="card-header">
                      <img src="./assets/Skills.png" style="width:190px;height:145px"
                          class="rounded-circle">
                  </div>
                  <div class="card-header card-body"><h4>Management Skills</h4></div>
              </div>
      </div>
    </div>

        <div id="form">
          <div class="row">
                  <div class="col-md-9">
                    <div class="container shadow-sm" style="padding:2em;margin-top:2em">
                        <h3>Technical Skills</h3>
                        <hr>
                        <div class="row" style="margin-top: 2em">
                            <hr>
                            <div class="pill-container">
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                            </div>
                            
                          </div>
                    </div>  
                    
                    <div class="container shadow-sm" style="padding:2em;margin-top:2em">
                        <h3>Soft Skills</h3>
                        <hr>
                        <div class="row" style="margin-top: 2em">
                            <hr>
                            <div class="pill-container">
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                            </div>
                            
                          </div>
                    </div>
                    <div class="container shadow-sm" style="padding:2em;margin-top:2em">
                        <h3>Creativity Skills</h3>
                        <hr>
                        <div class="row" style="margin-top: 2em">
                            <hr>
                            <div class="pill-container">
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                            </div>
                            
                          </div>
                    </div>
                    <div class="container shadow-sm" style="padding:2em;margin-top:2em">
                        <h3>Management Skills</h3>
                        <hr>
                        <div class="row" style="margin-top: 2em">
                            <hr>
                            <div class="pill-container">
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                              <button class="button">Interest</button>
                            </div>
                            
                          </div>
                    </div>
                    <br><br>
                  </div>
                  <div class="col-md-3">
                      <div class=" container1 shadow-sm" style="padding:2em;margin-top:2em">
                          <h3>Bio</h3>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi officia explicabo? Tempore suscipit
                              sapiente aspernatur quod molestiae accusantium impedit et dolore sint, temporibus ipsa ipsum nisi
                              perspiciatis, tempora porro.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi officia explicabo? Tempore suscipit
                              sapiente aspernatur quod molestiae accusantium impedit et dolore sint, temporibus ipsa ipsum nisi
                              perspiciatis, tempora porro.Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quasi officia explicabo? Tempore suscipit
                              sapiente aspernatur quod molestiae accusantium impedit et dolore sint, temporibus ipsa ipsum nisi
                              perspiciatis, tempora porro.
                             </p>
                      </div>
                  </div>
    
              </div>
              

          </div>

    
</body>
