<div class="progress-path">
   <ul class=path>
       <h3>Web Development</h3>
   </ul>
   <br>
  <ul class="path">
      <li>
        <h5>Frontend</h5>
          <div>
              <img src="./assets/images/play-button.png" id="html"> 
          <br>
              Html
          <br>
              <button (click)="done(1)" >Done!!</button>
          </div>
       <br>
          <div>
                <img src="./assets/images/play-button.png" id="css">
           <br>
              CSS
           <br>
                <button (click)="done(2)" >Done!!</button>
            </div>
            <br>
          <div>
                <img src="./assets/images/play-button.png" id="Javascript">
            <br>
                Javascript
            <br>
                <button (click)="done(3)" >Done!!</button>
            </div>
            <br>
          <div>
                <img src="./assets/images/play-button.png" id="Bootstrap">
            <br>
                Botstrap
            <br>
                <button (click)="done(4)" >Done!!</button>
            </div>
            <br>
          <div>
                <img src="./assets/images/play-button.png" id="JQuery">
            <br>
                JQuery
           <br>
                <button (click)="done(5)" >Done!!</button>
            </div>
           
      </li>
      
      <li>
          <div>
              <img src="./assets/images/play-button.png" id="css">
          <br>
              CSS
          <br>
              <button (click)="done(2)" >Done!!</button>
          </div>
      </li>
      <li>
          <div>
              <img src="./assets/images/play-button.png" id="javascript">
          <br>
              Javascript
        <br>
              <button (click)="done(3)" >Done!!</button>
          </div>
      </li>
  </ul>

</div>
<div style="margin-top:3em">
  <p>Progress : </p>
  <progress max="100" value="0" id="progress"></progress>
</div>
