<div id="form">

  <!-- Basic Information  -->

  <div class="container">
    <div class="row">

      <div class="col-sm-3 d-flex flex-column justify-content-center align-items-center">
        <h6>Basic Information</h6>
        <img src="assets/images/angular.png" class="img-fluid">
        <a href="#">Upload image</a>
      </div>
      <div class="col-sm-9" style="padding: 2em 3em 2em 5em;">

        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="firstname">First Name</label>
              <input type="text" class="form-control" id="firstname" placeholder="Enter first name">
            </div>
            <div class="form-group col-md-6">
              <label for="lastname">Last Name</label>
              <input type="text" class="form-control" id="lastname" placeholder="Enter last name">
            </div>
          </div>
          <div class="form-group">
            <label for="occcupation">Occupation</label>
            <input type="text" class="form-control" id="occupation" placeholder="Ex : Web Developer, Student">
          </div>
          <div class="form-group">
            <label for="company">Company</label>
            <input type="text" class="form-control" id="comapny">
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="inputCity">City</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-4">
              <label for="inputState">State</label>
              <input type="text" class="form-control" id="inputCity">
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip</label>
              <input type="text" class="form-control" id="inputZip">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- About Me -->

  <div class="container" style="padding:3em">
    <h6 style="text-align:center">About Me</h6>
    <div class="row">
      <div class="col-sm-12 mt-4">
        <form>
          <div class="form-row">
            <div class="form-group col-md-12">
              <label for="sectiontitle">Section Title</label>
              <input type="text" class="form-control" id="sectiontitle" placeholder="About ME">
            </div>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>


  <!-- Education -->
  <div class="container" style="padding:3em">
    <h6 style="text-align:center">Education</h6>
    <div class="row">
      <div class="col-sm-12" style="margin-top:2em">
        <form>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="School">School or University</label>
              <input type="text" class="form-control" id="School" placeholder="School name">
            </div>
            <div class="form-group col-md-6">
              <label for="website">Website</label>
              <input type="text" class="form-control" id="website">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="School">Country</label>
              <input type="text" class="form-control" id="School" placeholder="School name">
            </div>
            <div class="form-group col-md-6">
              <label for="website">City</label>
              <input type="text" class="form-control" id="website">
            </div>
          </div>
          <hr>
          <div class="form-row">
            <div class="form-group col-md-12">
                <label for="degree">Degree</label>
                <input type="text" class="form-control" id="degree" placeholder="Ex : B.Tech,B.E">
            </div>
          </div>
        </form>
        <a href="#" style="text-align:center">Add School</a>
      </div>
    </div>
  </div>


</div>