<body>
<div id="mySidebar" class="sidebar">
    <br>
    <br>
    <br>
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <a>Profile</a>
    <a>Donors</a>
    <a>Companies</a>
    <a></a>
</div>

<div id="main">
    <button class="openbtn" (click)="openNav()">☰</button>
</div>

<div class="container jumbotron text-center">

    <!-- Basic Information  -->
  
    <div class="container">
      <div class="row">
  
        <div class="col-sm-3 d-flex flex-column justify-content-center align-items-center">
          <h6>Basic Information</h6>
          <img src="assets/smiley.png" class="img-fluid" style="border-radius: 50%">
        </div>
        <div class="col-sm-9" style="padding: 2em 3em 2em 5em;">

            <div class="form-row">
              <div class="form-group col-md-8" style="text-align: left">
                <h1>Smiley face </h1>
                <p>3rd Year</p>
                <p> Sardar Patel Institute of Technology </p>
                <p>Mumbai, India </p>
              </div>
              <div class="form-group col-md-4">
                <h1>Aspiring Game Designer </h1>
              </div>
            </div>
        </div>
      </div>
    </div>
  
    <!-- Basic Information  -->
  
  
  </div>

  <div class="container jumbotron text-center" style="text-align: left">
        <div class="row">
    
          <div class="col-sm-3 ">
           <h3>Social Media </h3>
          </div>
          <div class="col-sm-9">
            <a href=""><i class="fa fa-twitter-square fa-2x" ></i> </a>
            <a href=""><i class="fa fa-facebook-square fa-2x"></i> </a>
            <a href=""><i class="fa fa-instagram fa-2x"></i> </a>
            <a href=""><i class="fa fa-linkedin-square fa-2x"></i> </a>
          </div>
        </div>
  </div>
  
  <div class="container jumbotron" style="text-align: left">
<h3> About Me</h3>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
  </div>


  <div class="container jumbotron text-center" style="text-align: left">
        <div class="row">
    
          <div style="margin:2em;padding:2em 0em;" class="d-flex flex-row  align-items-center">
                <h3 style="margin-right: 2em">Interests</h3>
                <br>
            </div>
            <div style="margin:2em;padding:2em 0em;">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill1
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill2
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill3
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill4
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill1
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill2
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill3
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="alert alert-info alert-dismissible fade show" role="alert" style="width:fit-content">
                            Skill4
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
  </div>
</body>

